* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
.body {
  height: 100%;
  background-color: aqua;
}
.logo {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.logo1 {
  color: #82a70c;
}
.navbar {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  background-color: aquamarine;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: yellow;
  align-items: center;
  justify-content: center;
}
.search-btn,
.search-btn > * {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.4rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: white;
  color: gray;
}
.search-btn {
  margin: 1rem;
}
.add-user-btn {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.3rem;
  align-items: center;
  cursor: pointer;
  width: 8rem;
  background-color: #82a70c;
  color: white;
  justify-content: space-evenly;
  height: 2rem;
}
.table {
  padding-left: 10%;
  padding-right: 10%;
}

.table-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #42515f;
  padding: 1rem;
  color: white;
  font-weight: 500;
}
