* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: small;
}
.fa-search {
  margin-right: 0.5rem;
}
.fa-search:hover {
  color: black;
}
.header {
  font-size: large;
  font-weight: bolder;
}
.body {
  height: 100%;
  background-color: rgb(196, 196, 196);
}
.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.logo1 {
  color: #82a70c;
}
.navbar {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  /* background-color: aquamarine; */
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right-nav {
  display: flex;
  flex-wrap: wrap;
  /* background-color: yellow; */
  align-items: center;
  justify-content: center;
}
.search-btn,
.search-btn > * {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.4rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: white;
  color: gray;
}
.search-input {
  padding-left: 1rem;
  cursor: auto;
}
.search-btn {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-user-btn {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.6rem;
  align-items: center;
  cursor: pointer;
  width: 9rem;
  background-color: #82a70c;
  color: white;
  justify-content: space-evenly;
  height: 1.8rem;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add-user-btn:hover {
  background-color: #5a7404;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table {
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.columns {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 25% 10% 30% 5% 15% 15%;
  text-align: center;
}
.table-rows {
  display: grid;
  grid-template-columns: 28% 10% 27% 10% 15% 10%;
}
.column-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #42515f;
  color: white;
}
.name {
  display: flex;
  align-items: center;
}
.gender {
  display: flex;
  align-items: center;
}
.department {
  display: flex;
  align-items: center;
}
.chip {
  background-color: #e9fea5;
  padding: 5px;
  border-radius: 20px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.salary {
  display: flex;
  align-items: center;
}
.start-date {
  display: flex;
  align-items: center;
}
.profile-pic {
  border-radius: 50%;
  height: 3rem;
  margin-right: 1rem;
  margin: 10px;
  margin-left: 3rem;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
}
i:hover {
  cursor: pointer;
  color: grey;
}
